<!DOCTYPE html>
<html>
<head>
	<title>{{drawing_name}}</title>
		<link rel="stylesheet" href= "{{ url_for('static',filename='css/style.css') }}">

</head>
<body>
	<center>
		<div style="display: inline-block;">
		<h1 id = "title">
			{{drawing_name}}
		</h1>
		<div id="toolbar" >
			<button onclick=window.location.href="{{url_for('quit')}}" id="save" class="toolbar_but" style="margin-right: 10%">
				Save and Quit
			</button>

			<button onclick="undo()" class="toolbar_but">
				Undo
			</button>
			<button onclick="redo()" class="toolbar_but">
				Redo
			</button>
			
			<div id = "color_change" style="display: inline-flex; margin-left: 5%;margin-right: 5%;">
				<p style="padding: 0; margin-top: 0; margin-bottom: 0; margin-right: 5%; ">Color:</p>
				<button id = "color_example" style="width: 50px; background-color: black"></button>
				<input type="text" id="R" placeholder="R" value="0">
				<input type="text" id="G" placeholder="G" value="0">
				<input type="text" id="B" placeholder="B" value="0">
			</div>
			<div id = "size_change" style="display: inline-flex; ">
				<p style="padding: 0; margin-top: 0; margin-bottom: 0; margin-right: 5%; ">Size:</p>
				<button id = "size_example" style="width: 50px; height: 1px; border:none; background-color: black"></button>
				<input type="text" id="size" placeholder="size" value="1">
			</div>
		</div>


		<div style="background-color: rgba(255,255,255,0.8); display: inline-block;">
		{%if not(drawing == "new")%}
			<canvas width="960" height="400" id="canvas" class="prev" data-width = "{{drawing['width']}}" data-height = "{{drawing['height']}}"data-data = "{{drawing['data']}}">
			</canvas>
		{%else%}
			<canvas width="960" height="400" id="canvas">
			</canvas>
		{%endif%}
		</div>
	</div>
		<script src = "../../static/draw.js" defer></script>
	</center>
</body>
</html>