<!DOCTYPE html>
<html>
<head>
	<title>VaxPaint Sign In</title>
	<link rel="stylesheet" href= "{{ url_for('static',filename='css/style.css') }}">
</head>
<body>
<center>
{{a}}
	<h1 id="title"> Sign In</h1>
	<div>
	<form action="/", method="POST">

		<input type="email" name="email" placeholder="Email Address" required>

		<input type="password" name="password" placeholder="password" required>
		<br>
		<input type="submit" name="submit" value="Sign In">

	</form>
	</div>
<br>
	<div>
		<button onclick=window.location.href="{{url_for('sign_up')}}">
			Sign Up
		</button>

		<button onclick=window.location.href = "#">
			Enter as a guest
		</button>
	</div>
</center>
</body>
</html>